@import "../node_modules/bootstrap/scss/bootstrap";

@import "helpers/reset";
@import "helpers/other";
@import "helpers/variables";
@import "helpers/mixins";

/*Area Usuario View*/
.show{
	width: 100%;
	@extend %display-flex;  
	justify-content: center;
	align-items: center;
}
.userArea{
	width: 78%;
	margin: 0 auto;
	padding: 0 0 .9em 0;
	margin-top: .4em;
	@include prefixers(box-shadow, 29px 20px 34px 0px $color-secondary);

	@media (nth($media-queries, 1)){
		width: 70%;
	}

}
img{

	@include prefixers(border-radius, 100px);
	min-height: 40%;

	@media (nth($media-queries, 1)){
		max-height: 60%;
	}


	&:hover{
		cursor: pointer;
		filter: brightness(.8);
	}
}
p{
	text-align: left;
	padding: .2em;
	font-size: 1.2em;
	border-bottom: 1px solid $color-secondary;
}
h5{
	font-size: 1.2em;
}
	

@media (nth($media-queries, 2)) {

	 .userArea{
		width: 50%;
	}

	img{
		max-height: 60%;
	}
}

@media (nth($media-queries, 3)) {

	.userArea{
		width: 350px;
		height: auto;
		border: 2px solid #eee;
		@include prefixers(border-radius, 0 0 30px 30px);
		@include prefixers(box-shadow, 29px 20px 34px 0px $color-secondary);
		
		&:hover{
			@include prefixers(box-shadow, 14px -4px 34px 5px $color-secondary);
		}
	}

	img{
		max-height: 50%;
	}
	p{
		text-align: left;
		padding: .7em;
		font-size: 1.2em;
		border-bottom: 1px solid $color-secondary;
	}
}