.line-chart{

	width: 95%!important;
	height: auto!important;
	margin: 0 auto;
	margin-bottom: .7em;

	@media (nth($media-queries, 2)) {

		width: 85%!important;
		height: auto!important;
		margin: 0 auto !important;
		border-color: $color-secondary;
	} 
}//line-chart
