.list{
	
	width: 100%;
	@include margins(0, auto);
	margin-bottom: .7em;

	@media (nth($media-queries, 1)) { 
		width: 90%;
		@include margins(0, auto);
	}
	
	a{
		padding: .3em .9em;
		@media (nth($media-queries, 2)) {

			padding: .75rem 1.8rem;
			font-size: 1.1em;
		}
		
	}//a

}//.list