.form1{
	
	margin: 0 auto;
	@media (nth($media-queries, 2)) {
		width: 80%;
	}
	@media (nth($media-queries, 3)) {
		width: 65%;
	}
	.search{

		&:hover{
			@extend %font-weight-600;
			cursor: pointer;
			background-color: $color-pattern;
		}
	 	&:active{
			@extend %font-weight-600;
			background-color: $color-pattern!important;
			border-color: $color-pattern!important;
			@include prefixers(box-shadow, 0 0 0 0.2rem transparentize($color-pattern, 0.40)!important)
		}
	}//search
}//form1