//lists////////////
$media-queries: ('min-width: 568px' ,'min-width: 768px', 'min-width: 992px');

//placeholders///////////
%font-weight-600{
	font-weight: 600;
}
%display-flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}